<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="KDEConnectionString" connectionString="Data Source=DESKTOP-T5J69DS;Initial Catalog=KDE;User ID=sa;Password=admin@123"/>
    <!--<add name="KDEConnectionString" connectionString="Data Source=APPIN-PC\SQLSERVER;Initial Catalog=KDE;Persist Security Info=True;User ID=sa;Password=123"-->
       <!--/>-->
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0"/>
  </startup>
</configuration>
